.white {
  color: #fff;
}

.black {
  color: #000;
}

.pink-bg {
  background-color: #ff5959;
}

.white-bg {
  background-color: white;
}

.pink {
  color: #ff5959;
}

.gray {
  color: #242424;
}

.light-gray {
  color: #c1c1c1;
}

.bg-blue {
  background-color: #2992fe;
}