.d-flex {
    display: flex;
  }
  
  @mixin flexbox($fd, $fw, $jc, $ai, $ac) {
    flex-direction: $fd;
    flex-wrap: $fw;
    justify-content: $jc;
    align-items: $ai;
    align-content: $ac;
  }