$grid: 1200;
$columns: 12;
$column-width: $grid / $columns;
$padding: 10;
$margin: 5;

.container {
  width: #{$grid}px;
  margin: 0px auto;
}

.row {
  clear: both;
  overflow: auto;
}

@for $i from 1 through 12 {
  .col-#{$i} {
    width: #{$i * $column-width - 2 * $padding - 2 * $margin}px;
    padding: #{$padding}px;
    margin: #{$margin}px;
    position: relative;
    float: left;
  }

  .col-offset-#{$i} {
    margin-left: #{$i * $column-width}px !important;
  }
}

@media screen and (max-width: 500px) {
  $padding: 10;
  $margin: 5;

  .container {
    width: 100%;
    margin: 0px auto;
  }

  .row {
    width: 100%;
    clear: both;
    overflow: auto;
  }

  // loop
  @for $i from 1 through 12 {
    .col-#{$i} {
      width: 100% !important;
      box-sizing: border-box;
      padding-left: 5% !important;
      padding-right: 5% !important;
      margin: 0px !important;
      position: relative;
      float: none;
    }

    .col-offset-#{$i} {
      margin-left: 0px !important;
    }
  }
}
