@for $i from 1 through 5 {
    .px-#{$i} {
      padding-left: #{$i * 10}px;
      padding-right: #{$i * 10}px;
    }
  
    .py-#{$i} {
      padding-top: #{$i * 10}px;
      padding-bottom: #{$i * 10}px;
    }
  
    .mx-#{$i} {
      margin-left: #{$i * 10}px;
      margin-right: #{$i * 10}px;
    }
  
    .my-#{$i} {
      margin-top: #{$i * 10}px;
      margin-bottom: #{$i * 10}px;
    }
  
    .border-#{$i} {
      border-radius: #{$i * 10}px;
    }
  
    .p-#{$i} {
      padding: #{$i * 10}px;
    }

    .pb-#{$i} {
      padding-bottom: #{$i * 10}px;
    }

    .pt-#{$i} {
      padding-top: #{$i * 10}px;
    }
  
    .m-#{$i} {
      margin: #{$i * 10}px;
    }

  
    .mt-#{$i} {
      margin-top: #{$i * 10}px;
    }

    .mb-#{$i} {
      margin-bottom: #{$i * 10}px;
    }

    .mr-#{$i} {
      margin-right: #{$i * 10}px;
    }
  }
  
  @for $i from 0 through 5 {
    .p-#{$i} {
      padding: #{$i * 10}px;
    }
  
    .m-#{$i} {
      margin: #{$i * 10}px;
    }
  }
  
  .decoration-none {
    text-decoration: none;
  }
  
  .decoration-underline {
    text-decoration: underline;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .text-right {
    text-align: right;
  }
  .float-r{
    float: right;
  }
  .text-center {
    text-align: center;
  }
  
  .text-justify {
    text-align: justify;
  }
  
  .d-none {
    display: none;
  }

  .bold {
    font-weight: bold;
  }
  
  .d-inline {
    display: inline;
  }
  
  .d-block {
    display: block;
  }
  
  .d-inline-block {
    display: inline-block;
  }
  
  .img-fluid {
    display: block;
    width: 100%;
  }
  
  section {
    clear: both;
    overflow: auto;
  }

  .p-relative {
    position: relative;
  }

  .p-absolute {
    position: absolute
  }

  .bottom-0 {
    bottom: 0;
  }

.left-0 {
  left: 0;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}


.section {
  clear: both;
  overflow: auto;
}