body {
  padding: 0;
  margin: 0;
}

#home {
  background-image: url("../../images/s1/bg_image_s1.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;

  .container {
    @include flexbox(column, nowrap, space-between, stretch, stretch);
    box-sizing: border-box;
    height: 100%;
    clear: both;
    overflow: auto;
  }

  header {
    @include flexbox(row, nowrap, space-between, stretch, stretch);
    padding: 30px 15px;


    nav {
      width: 30%;

      ul {
        display: block;
        list-style-type: none;
        padding: 0px 0px 50px 0px;
        margin: 0px;
        display: none;
      }
      
      li:first-child{
        margin-top: 20px;
      }

      li {
        text-align: center;
        display: block;
        line-height: 55px;
        border-bottom: 1px solid #e3e3e3;
      }

      a {
        color: rgb(255, 255, 255);
        font-size: 16px;
      }

      a:hover {
        color: rgb(231, 229, 229);
      }

      .desktop-menu {
        display: none;
      }
    }
  }

  .intro {
    top: 25%;
    h1 {
      font-size: 40px;
      font-weight: 900;

      button {
        outline: none;
        padding: 10px 15px;
      }
    }

    p {
      font-size: 23px;
    }

    #btn-1 {
      border: none;
      padding: 14px 21px;
    }

    #btn-2 {
      background-color: Transparent;
      background-repeat: no-repeat;
      border: 2px solid white;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      padding: 12px 15px !important;
    }
  }
}

#section-one {
    height: 100%;
  .container {
    height: 155vh;
    @include flexbox(column, nowrap, space-evenly, stretch, stretch);
  }

  .about-text {
    text-align: center;
    p {
      margin-bottom: 20px;
    }
    h2 {
      font-size: 20px;
      font-weight: 500;
    }

    button {
      margin-top: 20px;
      background-color: Transparent;
      background-repeat: no-repeat;
      border: 1px solid #c1c1c1;
      cursor: pointer;
      overflow: hidden;
      outline: none;
      padding: 8px 16px;
      font-weight: bold;
      color: #242424;
      float: none;
    }
  }

  .about-list {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;

    .column-list {
      padding-bottom: 30px;

      p {
        padding: 0;
      }
    }
  }
}

#section-two {
  height: 140vh;

  .container {
    height: 100%;
    background-color: #f9f9f9;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
  }

  img {
    width: 100%;
    text-align: center;
  }
}

#s3-link {
  text-decoration: none;
  border-bottom: 2px solid #242424;
  color: #242424;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}

#section-three {
  button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 2px solid white;
    cursor: pointer;
    padding: 15px 20px;
    overflow: hidden;
    outline: none;
    font-weight: bold;
  }

  .col-4 {
    text-align: center;
  }
}

.section-three {
  @include flexbox(column, nowrap, space-around, center, center);
}

#section-four {
  display: none;
}

#section-five {
  background-image: url("../../images/s5/bg-s5.png");
  background-size: cover;
  height: 100%;
  padding: 60px 0;

  h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
  p {
    font-weight: 100;
    font-size: 20px;
  }

  .tables {
    @include flexbox(column, nowrap, space-around, center, center);

    h1 {
      background: rgb(2, 0, 36);
      background: linear-gradient(
        90deg,
        rgba(2, 0, 36, 1) 0%,
        rgba(161, 88, 146, 1) 35%,
        rgba(0, 212, 255, 1) 100%
      );
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 50px;
      font-weight: bolder;
    }
  }

  .table {
    background-color: white;
    padding: 50px 60px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 30px;

    p {
      text-align: center;
      color: #616161;
      font-size: 18px;
      padding-bottom: 20px;
    }

    h4 {
      font-size: 18px;
      color: black;
      font-weight: 500;
    }
  }

  button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 0.5px solid #c1c1c1;
    cursor: pointer;
    padding: 15px 20px;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    color: #242424;
  }

}

#section-six {
  height: 100%;
  background-image: url("../../images/s6/bg-s6.png");
  background-size: cover;

 h1, h2 {
     margin-top: 4px;
     margin-bottom: 4px;
     padding-top: 4px;
 }

  .row {
      height: 120vh;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
  }

  .content-fun-facts {
    color: white;
    vertical-align: middle;
    display: table-cell;
    margin-top: 125px;

    img {
      height: 57px;
    }
    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 17px;
      font-weight: 500;
    }
  }
}

#section-seven {
  height: 100%;

  .col-4 {
      padding-bottom: 30px;
  }

  h1 {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .text-section {
    @include flexbox(column, nowrap, space-between, center, center);
  }

  .text-section button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: 0.5px solid #c1c1c1;
    cursor: pointer;
    padding: 12px 15px !important;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    color: #242424;
    margin-bottom: 20px;
  }

  .person-section {
    @include flexbox(row, wrap, space-around, center, center);
    width: 100%;
    margin-bottom: 30px;
    text-align: center;

    button {
      background-color: Transparent;
      background-repeat: no-repeat;
      border: 0.5px solid #c1c1c1;
      cursor: pointer;
      padding: 15px 20px;
      overflow: hidden;
      outline: none;
      font-weight: bold;
      color: #242424;
    }
  }

  h5 {
    color: #777777;
    font-weight: 500;
  }

  h2 {
    color: #333333;
    font-size: 22px;
    font-weight: 700;
  }

  p {
    color: #9b9c9c;
    padding: 10px 0;
  }
}

#section-eight {
  height: 100%;
  background-color: #262626;
  padding: 15px;
  text-align: center;

  .footer {
    height: 100%;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  }

  .footer-list {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
  }

  button {
    background-color: #ff5959;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    padding: 15px 20px;
    overflow: hidden;
    outline: none;
    font-weight: bold;
    color: white;
    margin-top: 30px;
  }

  ul {
    list-style-type: none;

  }

  li {
      display: block;
    color: #cacac7;
    margin-bottom: 25px;
  }

  a {
    color: #cacac7;
    text-decoration: none;
  }

  a:hover {
    color: white;
  }

  #email {
    width: 180px;
    padding: 14px 20px;
    outline: none;
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #909090;
    margin: 1em 0;
    padding: 0;
  }
}
